* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
td {
  border: black solid 1px;
  padding: 5px;
  text-align: center;
}
#players {
  display: flex;
  flex-direction: column;
}
#players span {
  display: flex;
  justify-content: space-between;
}
